<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/client/styles/style.css" media="screen"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <link>
    <title>MyStocks</title>
</head>
<body>
    
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">News</a>
            <a class="nav-item nav-link" href="#">Analysts</a>
            <a class="nav-item nav-link" href="#">Financials</a>
          </div>
        </div>
    </nav><!-- End of Navigation bar -->

    <!-- Stock data and Chart-->
    <div class="container-fluid">

        <div class="row"><!-- Start of row -->

            <div class="col-10 col-sm-11 col-xl-3">
                <!-- Input form to enter stock data -->
                <div> 
                    <form id="user-input" method="POST" action="/" class="form-inline">
                        <input type="text" class="form-control mb-2" placeholder="Enter Ticker, eg. AAPL" name="stock_id">
                        <button type="submit" class="btn btn-primary mb-2">Submit</button>
                    </form>
                </div>

               <!-- Stock data is rendered -->
                    <div id="label" class="hide">
                        <p>
                            <h2><%= finalResult[0].name %> (<%= finalResult[0].ticker %>)</h2>
                            Currency in <%= finalResult[0].currency %>
                            <h2><%= finalResult[1].c %></h2>
                            <p><%= (finalResult[1].c - finalResult[1].pc).toFixed(2) %>  (<%=((finalResult[1].c/finalResult[1].pc - 1)*100).toFixed(2)%>%)</p>
                            <p>
                                Country: <%= finalResult[0].country %></br>
                                Industry: <%= finalResult[0].finnhubIndustry %></br>
                                Market Cap: <%= Math.floor(finalResult[0].marketCapitalization/10)/100 %>B</br>
                                Share Outstand: <%= Math.floor(finalResult[0].shareOutstanding/10)/100 %>B</br>
                                Phone: <%= finalResult[0].phone %></br>
                                <a href=<%= finalResult[0].weburl %>><%= finalResult[0].weburl %></a>
                            </p>
                        </p>
                    </div>  
            </div>
            
            <!-- Chart buttons and chart display -->    
            <div class="col-10 col-sm-11 col-xl-8 hide">    
                <div class="btn-group">
                    <button type="button" class="btn btn-info" onclick="updateChartData(0, 1)">Day</button>
                    <button type="button" class="btn btn-info" onclick="updateChartData(2, 3)">Week</button> 
                    <button type="button" class="btn btn-info" onclick="updateChartData(4, 5)">Month</button>
                </div>
                <!-- Chart.js -->
                <canvas id="myChart"></canvas><br/>
            </div>
            

        </div><!-- /End of row -->    
    </div><!-- /End of stock data and chart-->

<!-- Footer -->
<footer class="page-footer fixed-bottom">&copyAlen Klaric</footer>  <!--class="fixed-bottom"-->


    <!-- Rendered data from server is stored in a client variable for displaying it with chart.js -->
    <div class="chartData">     
        <script>
            // Stock data sets received from the server request are stored in the stockData array
            let stockData = [[], [], [], [], [], []];
            
            // Daily Stock data
            let timeframeOne = <%= JSON.stringify(finalResult[3]) %>
            timeframeOne.forEach((index) => {
                stockData[0].push(new Date(index*1000).toLocaleDateString("en-US"));
            });
            stockData[1] = <%= JSON.stringify(finalResult[4]) %>  
            // Weekly Stock data
            let timeframeTwo = <%= JSON.stringify(finalResult[5]) %>
            timeframeTwo.forEach((index) => {
                stockData[2].push(new Date(index*1000).toLocaleDateString("en-US"));
            });
            stockData[3] = <%= JSON.stringify(finalResult[6]) %> 
            // Monthly Stock data
            let timeframeThree = <%= JSON.stringify(finalResult[7]) %>
            timeframeThree.forEach((index) => {
                stockData[4].push(new Date(index*1000).toLocaleDateString("en-US"));
            });
            stockData[5] = <%= JSON.stringify(finalResult[8]) %> 
            console.log(stockData);

            /* ipoDate = <%= finalResult[0].ipo %>
            let dateResult = ipoDate.toISOString().slice(0, 10) */
        </script>  
    </div> 

    <script src="/client/js/script.js"></script> 
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>