<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/client/styles/style.css" media="screen"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <link>
    <title>MyStocks</title>
</head>
<body>

    <h3>Search for Stock Ticker</h3>

    <div>
        <form id="user-input" method="POST" action="/">
            <input type="text" placeholder="Enter Stock" name="stock_id">
            <button>Submit</button>
        </form>
    </div>
    <h3>Stock Information</h3>
    <p>
       <div id="label"><%= data.name %></div> </br>
        <%= data.country %></br>
        <%= data.ipo %></br>
        <%= data.finnhubIndustry %></br>
        <a href=<%= data.weburl %>><%= data.weburl %></a>
    </p>

    <div>
        <label>Chart-Type</label>
            <select id = "chart-type" onclick="updateChartType()" value="line">
              <option value = "bar">bar</option>
              <option value = "line">line</option>
            </select>
    </div>


    
    <canvas id="myChart"></canvas><br/>
   
    <button onclick="updateChartData()">Update</button>
    
    

    
    
    <script src="/client/js/script.js"></script> 
</body>
</html>