<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/client/styles/style.css" media="screen"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <link>
    <title>MyStocks</title>
</head>
<body>
    
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">News</a>
          </div>
        </div>
    </nav><!-- End of Navigation bar -->

    <!-- Stock data and Chart-->
    <div class="container-fluid">

        <div class="row"><!-- Start of row -->

            <div class="col-10 col-sm-12 col-xl-12">
                <!-- Input form to enter stock data -->
                <div> 
                    <form id="user-input" method="POST" action="/news" class="form-inline">
                        <input type="text" class="form-control mb-2" placeholder="Enter Ticker, eg. AAPL" name="stock_id">
                        <button type="submit" class="btn btn-primary mb-2">Submit</button>
                    </form>
                </div>
  
                <div class="news-article">
                    <% if (Object.getOwnPropertyNames(compNews[0][0]).length != 0) { %>
                        <% for (let a = 0; a < 200; a++ ) { %>
                            <a href="<%= compNews[0][a].url %>">
                                <div class="news">
                                    <div>
                                        <img src="<%= compNews[0][a].image %>">
                                    </div>
                                    <p>
                                        <div class="news-content">
                                            <!-- Converts timestring to date format -->
                                            <% let dt = new Date(compNews[0][a].datetime * 1000) %>
                                            <% let date = dt.toLocaleString("en-US", {timeZoneName: "short"}) %>
                                            <h5><%= date.slice(0, date.indexOf("G")) %></h5>
                                            <h4><%= compNews[0][a].headline %></h4>
                                            <%= compNews[0][a].summary %></br>
                                        </div>
                                    </p>
                                </div>
                            </a>
                        <% } %>
                    <% } %>
                </div>

            </div>                 
        </div>
    </div> 
    <!-- Footer -->
<footer class="page-footer fixed-bottom">&copyAlen Klaric</footer>  <!--class="fixed-bottom"-->

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>