    <!-- Header -->
    <%- include("./partials/header") %> 

    <!-- Stock data and Chart-->
    <div class="container-fluid viewp">

        <div class="row mt-2"><!-- Start of row -->

            <div class="col-10 col-12">
                <!-- Input form to enter stock data -->
                <div> 
                    <form id="user-input" method="POST" action="/news" class="form-inline">
                        <input type="text" class="form-control mb-2 mr-2" placeholder="Enter Ticker, eg. AAPL" name="stock_id">
                        <button type="submit" class="btn btn-outline-primary mb-2">Submit</button>
                    </form>
                </div>
  
                <div class="news-article">
                    <% if (Object.getOwnPropertyNames(compNews[0][0]).length != 0) { %>
                        <% for (let a = 0; a < 200; a++ ) { %>
                            <a href="<%= compNews[0][a].url %>">
                                <div class="news">
                                    <div>
                                        <img src="<%= compNews[0][a].image %>">
                                    </div>
                                    <p>
                                        <div class="news-content">
                                            <!-- Converts timestring to date format -->
                                            <% let dt = new Date(compNews[0][a].datetime * 1000) %>
                                            <% let date = dt.toLocaleString("en-US", {timeZoneName: "short"}) %>
                                            <h5><%= date.slice(0, date.indexOf("G")) %></h5>
                                            <h4><%= compNews[0][a].headline %></h4>
                                            <%= compNews[0][a].summary %></br>
                                        </div>
                                    </p>
                                </div>
                            </a>
                        <% } %>
                    <% } %>
                </div>

            </div>                 
        </div>
        <!-- Footer -->
<%- include("./partials/footer") %>
    </div> 


